.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}


.contact-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.contact-container input,
.contact-container textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.contact-container button {
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

