
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: #f0f4f8;
}

.container {
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 50px auto;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: greenyellow; 
  outline: none;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: green; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; 
}

button:hover {
  background-color: greenyellow; 
  transform: scale(1.05);
}

.navbar {
  background-color: #333; 
  padding: 10px;
  color: white;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.navbar:hover {
  background-color: #444; 
}

.navbar-nav {
  margin-left: auto; 
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  text-align: center;
  color: #555; 
}

form {
  margin: 20px auto;
  transition: box-shadow 0.3s;
}

form:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); 
}
